.programming-container {
    margin-top: 25px;
    padding: 0;
}

.programmers {
    /* background: red; */
}

.dashboard {
    /* background: yellow; */
    padding-left: 20px !important;
}

.programmers,
.dashboard {
    padding: 0;
}


@media only screen and (max-width: 600px) {

    .dashboard {
        /* background: yellow; */
        padding-left: 0 !important;
    }
}