.programming-container {
    margin-top: 25px;
    padding: 0;
}

.programmers {
    /* background: red; */
}

.dashboard {
    background: yellow;
    padding-left: 20px !important;
}

.programmers,
.dashboard {
    padding: 0;
}