.programmer-block {
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    margin-bottom: 38px !important;
}

.programmer-block:last-child {
    border: none;
}

.programmer-block .cover-img {
    width: 100%;
    max-width: 845px;
    max-height: 450px;
    border-radius: 8px;
}

.author-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.programmer-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.personal-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.personal-info h3 {
    font-size: 24px;
}

.personal-info span {
    font-weight: 600;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.6);

}

.reading-time {
    font-weight: 500;
    font-size: 20px;
    color: rgba(17, 17, 17, 0.6);
}

.blog-title {
    font-size: 35px;
    margin-top: 16px;
}

.mark-read {
    padding: 0;
    margin-top: 21px;
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: underline;
    color: #6047EC;
    margin-bottom: 38px;
    border: none;
    outline: none !important;
}

.book-mark {
    margin-left: 7px;
    color: #4b4a4a99;
    cursor: pointer;
}